:root {
  /* Take into account browser bar on mobile */
  --app-viewport-height: calc(100vh - 60px);

  --app-font-size-factor-on-square-screen: 2.5;

  --app-border-radius: 0.3em;
}

div.app {
  width: 100vw;

  /* Take into account browser bar on mobile */
  height: var(--app-viewport-height);
}

/* strong portrait */
@media (max-aspect-ratio: 1/2) {
  div.app {
    font-size: 5vw;
  }
}

/* slight portrait */
div.app {
  font-size: min(5vw, var(--app-font-size-factor-on-square-screen) * 1vh);
}

/* landscape */
@media (min-aspect-ratio: 1) {
  div.app {
    font-size: min(
      var(--app-font-size-factor-on-square-screen) * 1vw,
      0.048 * var(--app-viewport-height),
      2.5em
    );
  }
}

div.app,
.reveal {
  color: #211d50;
}

span.topbar {
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: white;
  border-bottom-left-radius: var(--app-border-radius);
}

img.logo {
  --app-logo-max-size: 50px;

  width: min(2em, var(--app-logo-max-size));
  height: min(2em, var(--app-logo-max-size));
  margin: var(--app-border-radius);
  vertical-align: top;
}

div.flexContainer {
  --app-flex-spacing: 1em;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;

  column-gap: var(--app-flex-spacing);
  padding: var(--app-flex-spacing);
}

div.flexContainer,
div[data-idc-parent] > img {
  /* just follow the parent's size */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

div.flexContainer {
  height: min(100%, 170vw);
}

div.reveal {
  width: 18em;
  font-size: unset;
}

div.reveal,
div.appSlide {
  height: 16em;
}

div.appSlideText {
  margin-bottom: 0.5em;
}

div.appSlide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reveal pre {
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;

  /* 0.55 being the font-size set by reveal.js on pre */
  border-radius: calc(var(--app-border-radius) / 0.55);
}

div.idcContainer {
  width: 18em;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div[data-idc-parent] {
  border-radius: var(--app-border-radius);
  overflow: hidden;
  transition: all 0.5s ease;
}
