#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

div.featuredImage {
  border-radius: 0.5rem;
  overflow: hidden;
}

div.featuredImage > img {
  /* just follow the parent's size */
  width: 100%;
  height: 100%;
}

div.featuredImage.fullWidth {
  position: static;

  width: 100%;
  aspect-ratio: 2;
}

div.featuredImage.leftSquare {
  position: sticky;
  top: 50px;
  margin-top: 200px;
  margin-left: -250px;

  width: 200px;
  aspect-ratio: 1;
}
