#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

div.featuredImage {
  /* TODO position: absolute; */

  width: 100%; /* take the article width */

  aspect-ratio: 2;

  border-radius: 0.5rem;
  overflow: hidden;
}

div.featuredImage > img {
  /* just follow the parent's size */
  width: 100%;
  height: 100%;
}
